body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";

    gap: 0;
    min-height: 100vh;
}



/* Main */
section {
    grid-area: main;
    padding-top: calc(var(--tiny-padding) / 2);
    padding-bottom: calc(var(--tiny-padding) / 2);
    padding-left: calc(75px + var(--tiny-padding));

    display: flex;
    justify-content: center;
    align-items: center;

    gap: var(--huge-padding);
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--tiny-padding);
    border: 1px solid var(--font-color-light);
    padding: var(--tiny-padding);
}

.page-title {
    font-size: var(--large-font-size);
    font-weight: normal;
    color: var(--font-color);
    text-align: center;

    margin-bottom: var(--tiny-padding);
}

.sub-title {
    margin-top: var(--tiny-padding);
    margin-bottom: calc(var(--tiny-padding)/2);
    font-size: var(--normal-font-size);
    font-weight: bold;
    color: var(--font-color);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--tiny-padding)/2);
    padding-left: var(--tiny-padding);
    padding-right: var(--tiny-padding);
}

.form-group {
    display: flex;
    flex-direction: column;
}

input, textarea, select {
    padding: calc(var(--tiny-padding) / 2);
}

.submit-button {
    padding: calc(var(--tiny-padding) / 2);
    background-color: var(--link-color);
    color: var(--font-color-white);
    font-size: var(--normal-font-size);
    cursor: pointer;
}


@media (max-width: 1200px) {
    body {
        gap: 0 var(--tiny-padding);
        min-height: 100vh;
    }
}

@media (max-width: 1050px) {
    body {
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    aside {
        display: none;
    }

    section {
        padding-left: 0;
        flex-direction: column;
        gap: var(--normal-padding);
    }
    
}